@{ 
    ViewData["Title"] = "Payment for order";
}
<div class="row w-100">
    <div class="card w-100">
        <div class="card-header">
            <h3 class="card-title">Thông tin đơn hàng</h3>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">

        </div>
    </div>
</div>